.total {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    height: 100vh;
}

.inputTarea {
    border-radius: 0;
    text-align: center;

}

.cadaTarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}



.laLista {
    border-radius: 0;
    min-width: 70vh;
}

.textoDiferente {
    text-align: left;
    font-size: small;
}

.deleteButton {
    background-color: white;
    border: 0;
    font-size: small;
}